<NGDLG>
#exec(LW_lockbox&%LBX)
#exec(LW_enb&0&%RMLST)
#ebox[%B](x:215,y:10,w:320,h:{{.GGCup.BoxHeight}})
#pan[%MPN](%B[x:0,y:0,w:100%,h:100%],8)
#font(WF,WF,WF)
#ctxt[%TIT](%B[x:0,y:6,w:100%,h:30],{},"Thanks for")

{{range $i, $s := .GGCup.Supporters -}}
{{- if eq $i 17}}
#font(YF,YF,YF)
#txt(%B[x:20,y:{{add $s.YOff 3}},w:100%,h:25],{},"and more...")
{{- else}}
#font(YF,YF,YF)
#txt(%B[x:20,y:{{add $s.YOff 3}},w:100%,h:25],{},{{argFilter $s.Nick}})
#font(WF,WF,WF)
#rtxt(%B[x:100%-204,y:{{add $s.YOff 3}},w:100,h:25],{},{{argFilter (concat $s.Amount " RUB ")}})
#btn(%B[x:230,y:{{$s.YOff}},w:72,h:25],{GW|url&{{cmdFilter $s.URL}}},"profile")
{{- end}}
{{end}}
#font(YF,WF,RF)
#sbtn[%B_RGST](%B[xc:50%,y:100%+8,w:160,h:24],{LW_file&Internet/Cash/cancel.cml},"Ok")
<NGDLG>
