//#exec(LW_cfile&Cookie\5C%GV_LCN_PROF&123\00)
{{- if eq .WindowSize "large" }}
#large
{{- end }}
#exec(LW_key&key)
#exec(LW_gvar&%PROF&{{.ID}}&%NAME&n/a&%NICK&{{.Nick}}&%MAIL&n/a&%PASS&n/a&%GMID&-&%CHAT&{{.ChatServer}})
