<NGDLG>
//#exec(LW_visbox&0&%LBX)
#exec(LW_lockbox&%LBX)
#exec(LW_enb&0&%RMLST)
#font(WF,WF,YF)

#ebox[%L](x:180,y:30,w:100%-380,h:260)
#ebox[%E](x:180,y:24,w:100%-380,h:30)
#pan[%MPN](%L[x:0,y:0,w:100%,h:100%],8)
#ctxt[%TIT](%E[x:0,y:12,w:100%,h:10],{},"Game info")
{{- if .Dev }}
#rtxt(%E[x:320,y:12,w:50,h:10],{},{{argFilter (concat "#" .Room.ID)}})
{{- end }}

#font(WF,YF,WF)
#txt[%L_NAME](%L[x:20,y:44,w:100,h:24],{},"Game title")
#font(YF,WF,WF)
#txt[%T_NAME](%L[x:100,y:44,w:100%-120,h:24],{},{{argFilter .Room.Title}})

#font(WF,YF,WF)
#txt[%L_HOST](%L[x:20,y:%T_NAME+6,w:100,h:24],{},"Host")
#font(YF,WF,WF)
#txt[%T_HOST](%L[x:100,y:%T_NAME+6,w:100%-120,h:24],{},{{argFilter .Room.HostNick}})

//#font(WF,YF,WF)
//#txt[%L_PING](%L[x:20,y:%T_HOST+6,w:100,h:24],{},"Ping")
//#font(YF,WF,WF)
//#ping[%T_PING](%L[x:100,y:%T_HOST+6,w:100%-120,h:24],{{argFilter .Room.HostAddrInt}})

#font(WF,YF,WF)
#txt[%L_PLAYERS](%L[x:20,y:%T_HOST+6,w:100,h:24],{},"Players")
#font(YF,BF,BF)
#txt[%T_PLAYERS](%L[x:100,y:%T_HOST+6,w:100%-120,h:24],{},
{{- if not .Room.Started}}{{.Room.StartPlayers}}/{{.Room.MaxPlayers}}{{end -}}
{{- range $i, $n := .Room.ActivePlayers}}{{if or (not $.Room.Started) $i}}, {{else}} {{end}}{{argFilter $n}}{{end -}}
{{- if .Room.AI}} + AI{{end -}}
)

{{- if .Room.HasExited}}
#font(WF,YF,WF)
#txt[%L_EXPLAYERS](%L[x:20,y:%T_PLAYERS+6,w:100,h:24],{},"Exited")
#font(YF,BF,BF)
#txt[%T_EXPLAYERS](%L[x:100,y:%T_PLAYERS+6,w:100%-120,h:24],{},
{{- range $i, $n := .Room.ExitedPlayers}}{{if $i}}, {{else}} {{end}}{{argFilter $n}}{{end -}}
)
{{- end }}

#font(WF,YF,WF)
#txt[%L_LEVEL](%L[x:20,y:%T_{{if .Room.HasExited}}EX{{end}}PLAYERS+6,w:100,h:24],{},"Level")
#font(YF,WF,WF)
#txt[%T_LEVEL](%L[x:100,y:%T_{{if .Room.HasExited}}EX{{end}}PLAYERS+6,w:100%-120,h:24],{},{{argFilter (levelLabel .Room.Level)}})

#font(WF,YF,WF)
#txt[%L_CTIME](%L[x:20,y:%T_LEVEL+6,w:100,h:24],{},"{{if .Room.Started}}Started at{{else}}Created at{{end}}")
#font(YF,WF,WF)
#txt[%T_CTIME](%L[x:100,y:%T_LEVEL+6,w:100%-120,h:24],{},{{argFilter .Room.CtimeFormatted}})

{{- if .Room.Password }}
GW|#font(WF,YF,WF)
#txt[%L_PASSWD](%L[x:20,y:%T_CTIME+6,w:100,h:24],{},"Password")
#font(YF,WF,WF)
#txt[%T_PASSWD](%L[x:100,y:%T_CTIME+6,w:100%-120,h:24],{},"yes")
{{- end }}

#font(YF,WF,YF)

{{if .Room.Started -}}
#sbtn[%B_RGST](%L[x:135,y:100%+5,w:100,h:24],{ {{- if .Room.Backto -}}GW|{{.Room.Backto}}{{- else -}}LW_file&Internet/Cash/cancel.cml{{- end -}} },"Cancel")
{{- else -}}
#sbtn[%B_RGST](%L[x:43,y:100%+5,w:100,h:24],{GW|open&join_game.dcml&ASTATE=<%ASTATE>^VE_RID={{cmdFilter .Room.ID}}},"Join")
#sbtn[%B_RGST](%L[x:230,y:100%+5,w:100,h:24],{ {{- if .Room.Backto -}}GW|{{.Room.Backto}}{{- else -}}LW_file&Internet/Cash/cancel.cml{{- end -}} },"Cancel")
{{- end }}
<NGDLG>
