#resize(LW_cfile&<#WinH#>&height.dat|LW_show&<\52ESIZE>
#exec(GW\7Copen\26resize\26height=<#WinH#>\29
<\52ESIZE>)

{{- if .Dev}}
#ebox[%EBX](x:+0,y:+0,w:100%,h:100%)
#font(YF,YF,YF)
#txt(%EBX[x:38,y:130,w:100,h:20],{},"#{{.StartedRoom.ID}}")
{{- end}}

#sbox[%LBX](x:0,y:0,w:100%,h:100%)
#font(BYF,BYF,BYF)
#txt(%LBX[x:6,y:3,w:100%,h:40],{},{{argFilter .StartedRoom.Title}})
#font(YF,YF,YF)
#apan(%LBX[x:667,y:4,w:70,h:28],{GW|go&startup},12)
#ctxt(%LBX[x:667,y:9,w:70,h:28],{},"< games")

{{- /* Header line at offsety = 32 */ -}}
{{$offsety := 32}}
#font(YF,YF,YF)
#txt(%LBX[x:6,y:{{add $offsety 9}},w:100%,h:40],{},"time: {{.StartedRoom.RoomTime}} [{{.StartedRoom.TimeTickSecs}}t]")
#pan(%LBX[x:158,y:{{add $offsety 10}},w:1,h:15],2)
#txt(%LBX[x:168,y:{{add $offsety 9}},w:100,h:40],{},"level: {{levelLabelLC .StartedRoom.Level}}")

{{- /* Layout constants */ -}}
{{$tableTop := 81}}
{{$tableLeft := 6}}
{{$wNick := 138}}
{{$wNation := 78}}
{{$wScore := 45}}
{{$wPop := 42}}
{{$rowH := 22}}

#font(SYF,SYF,SYF)
{{$offsetx := $tableLeft}}
#pan(%LBX[x:{{$offsetx}},y:{{sub $tableTop 19}},h:20,w:{{add (sub $wNick 1) (mul 22 2)}}],0)
#ctxt(%LBX[x:{{$offsetx}},y:{{sub $tableTop 16}},h:20,w:{{add (sub $wNick 1) (mul 22 2)}}],{},"player")
{{$offsetx = add $offsetx (sub $wNick 1) (mul 21 2)}}
#pan(%LBX[x:{{$offsetx}},y:{{sub $tableTop 19}},h:20,w:{{$wNation}}],0)
#ctxt(%LBX[x:{{$offsetx}},y:{{sub $tableTop 16}},h:20,w:{{$wNation}}],{},"nation")
{{$offsetx = add $offsetx (sub $wNation 1)}}
#pan(%LBX[x:{{$offsetx}},y:{{sub $tableTop 19}},h:20,w:{{$wScore}}],0)
#ctxt(%LBX[x:{{$offsetx}},y:{{sub $tableTop 16}},h:20,w:{{$wScore}}],{},"score")
{{$offsetx = add $offsetx (sub $wScore 1)}}
#pan(%LBX[x:{{$offsetx}},y:{{sub $tableTop 19}},h:20,w:{{$wPop}}],0)
#ctxt(%LBX[x:{{$offsetx}},y:{{sub $tableTop 16}},h:20,w:{{$wPop}}],{},"popul")

{{$offsety = $tableTop}}
{{- range $i, $p := .StartedRoom.Players}}
{{$offsetx := $tableLeft}}
#font(YF,YF,YF)
#pan(%LBX[x:{{$offsetx}},y:{{$offsety}},w:{{$wNick}},h:{{$rowH}}],5)
{{- if $p.Exited}}
#font(RF,RF,RF)
{{- end}}
#txt(%LBX[x:{{add $offsetx 3}},y:{{add $offsety 3}},w:{{sub $wNick 2}},h:{{$rowH}}],{},{{argFilter $p.Nick}})
#font(YF,YF,YF)
{{$offsetx = add $offsetx (sub $wNick 1)}}
#pan(%LBX[x:{{$offsetx}},y:{{$offsety}},w:22,h:{{$rowH}}],0)
#pix(%LBX[x:{{add $offsetx 2}},y:{{add $offsety 2}},w:18,h:18],{},Internet/pix/squares,{{$p.Color}},{{$p.Color}},{{$p.Color}},{{$p.Color}})
{{$offsetx = add $offsetx 21}}
#pan(%LBX[x:{{$offsetx}},y:{{$offsety}},w:22,h:{{$rowH}}],0)
#ctxt(%LBX[x:{{add $offsetx 2}},y:{{add $offsety 3}},w:18,h:{{$rowH}}],{},{{theamLabel $p.Theam}})
{{$offsetx = add $offsetx 21}}
#font(SYF,SYF,SYF)
#pan(%LBX[x:{{$offsetx}},y:{{$offsety}},w:{{$wNation}},h:{{$rowH}}],5)
#txt(%LBX[x:{{add $offsetx 6}},y:{{add $offsety 3}},w:{{$wNation}},h:{{$rowH}}],{},"{{$p.Nation}}")
{{$offsetx = add $offsetx (sub $wNation 1)}}
#pan(%LBX[x:{{$offsetx}},y:{{$offsety}},w:{{$wScore}},h:{{$rowH}}],5)
#ctxt(%LBX[x:{{$offsetx}},y:{{add $offsety 3}},w:{{$wScore}},h:{{$rowH}}],{},"{{if or (not $p.Zombie) (truthy $p.Stat.RealScores)}}{{$p.Stat.RealScores}}{{else}}-{{end}}")
{{$offsetx = add $offsetx (sub $wScore 1)}}
#pan(%LBX[x:{{$offsetx}},y:{{$offsety}},w:{{$wPop}},h:{{$rowH}}],5)
#ctxt(%LBX[x:{{$offsetx}},y:{{add $offsety 3}},w:{{$wPop}},h:{{$rowH}}],{},"{{if or (not $p.Zombie) (truthy $p.Stat.Population)}}{{$p.Stat.Population}}{{else}}-{{end}}")
{{- if eq $i 0}}
{{$offsety = add $offsety (sub $rowH 1)}}
{{- else}}
{{$offsety = add $offsety $rowH}}
{{- end}}
{{- end}}

{{template "statcols" .}}

#font(SWF,SWF,SWF)
#txt(%LBX[x:6,y:{{add $offsety 1}},w:100%,h:40],{},"+")
#font(SYF,SYF,SYF)
#txt(%LBX[x:18,y:{{add $offsety 1}},w:100%,h:40],{}," - speed of resource maining")
#font(SWF,SWF,SWF)
#txt(%LBX[x:177,y:{{add $offsety 2}},w:100%,h:40],{},"*")
#font(SYF,SYF,SYF)
#txt(%LBX[x:187,y:{{add $offsety 1}},w:100%,h:40],{}," - total resouce mained")
#font(SWF,SWF,SWF)

{{$offsety = add $offsety 26}}
#font(YF,YF,YF)
#pan(%LBX[x:4,y:{{$offsety}},w:100%-8,h:2],2)
{{$offsety = add $offsety 8}}
#txt(%LBX[x:6,y:{{$offsety}},w:100%,h:20],{},{{argFilter (concat "Map: " .StartedRoom.Map)}})

<NGDLG>
<NGDLG>
