{{define "statcols"}}<INFOTBL>
{{- $tableTop := 81}}{{$tableLeft := 6}}{{$wNick := 138}}{{$wNation := 78}}{{$wScore := 45}}{{$wPop := 42}}{{$rowH := 22}}
{{- $sm := .StartedRoom.SmallColW}}{{$lg := .StartedRoom.LargeColW}}
{{- $page := .StartedRoom.Page}}{{$res := .StartedRoom.Res}}
{{- $left := add $tableLeft (sub $wNick 1) (mul 21 2) (sub $wNation 1) (sub $wScore 1) (sub $wPop 1)}}
{{- $offsetx := $left}}

{{if eq $page "1"}}
#pan(%LBX[x:{{$offsetx}},y:{{sub $tableTop 19}},h:20,w:{{$sm}}],0)
#ctxt(%LBX[x:{{$offsetx}},y:{{sub $tableTop 16}},h:20,w:{{$sm}}],{},"+wood")
{{$offsetx = add $offsetx (sub $sm 1)}}
#pan(%LBX[x:{{$offsetx}},y:{{sub $tableTop 19}},h:20,w:{{$sm}}],0)
#ctxt(%LBX[x:{{$offsetx}},y:{{sub $tableTop 16}},h:20,w:{{$sm}}],{},"+food")
{{$offsetx = add $offsetx (sub $sm 1)}}
#pan(%LBX[x:{{$offsetx}},y:{{sub $tableTop 19}},h:20,w:{{$sm}}],0)
#ctxt(%LBX[x:{{$offsetx}},y:{{sub $tableTop 16}},h:20,w:{{$sm}}],{},"+stone")
{{$offsetx = add $offsetx (sub $sm 1)}}
#pan(%LBX[x:{{$offsetx}},y:{{sub $tableTop 19}},h:20,w:{{$sm}}],0)
#ctxt(%LBX[x:{{$offsetx}},y:{{sub $tableTop 16}},h:20,w:{{$sm}}],{},"+gold")
{{$offsetx = add $offsetx (sub $sm 1)}}
#pan(%LBX[x:{{$offsetx}},y:{{sub $tableTop 19}},h:20,w:{{$sm}}],0)
#ctxt(%LBX[x:{{$offsetx}},y:{{sub $tableTop 16}},h:20,w:{{$sm}}],{},"+iron")
{{$offsetx = add $offsetx (sub $sm 1)}}
#pan(%LBX[x:{{$offsetx}},y:{{sub $tableTop 19}},h:20,w:{{$sm}}],0)
#ctxt(%LBX[x:{{$offsetx}},y:{{sub $tableTop 16}},h:20,w:{{$sm}}],{},"+coal")
{{$offsetx = add $offsetx (sub $sm 1)}}
{{- if $res}}
#pan(%LBX[x:{{$offsetx}},y:{{sub $tableTop 19}},h:20,w:{{$sm}}],0)
#ctxt(%LBX[x:{{$offsetx}},y:{{sub $tableTop 16}},h:20,w:{{$sm}}],{},"+res")
{{$offsetx = add $offsetx (sub $sm 1)}}
{{- end}}
#pan(%LBX[x:{{$offsetx}},y:{{sub $tableTop 19}},h:20,w:{{$sm}}],0)
#ctxt(%LBX[x:{{$offsetx}},y:{{sub $tableTop 16}},h:20,w:{{$sm}}],{},"+popul")
{{$offsetx = add $offsetx (sub $sm 1)}}
#pan(%LBX[x:{{$offsetx}},y:{{sub $tableTop 19}},h:20,w:{{$lg}}],0)
#ctxt(%LBX[x:{{$offsetx}},y:{{sub $tableTop 16}},h:20,w:{{$lg}}],{},"*casuality")
{{$offsetx = add $offsetx (sub $sm 1)}}
{{else if eq $page "2"}}
#pan(%LBX[x:{{$offsetx}},y:{{sub $tableTop 19}},h:20,w:{{$sm}}],0)
#ctxt(%LBX[x:{{$offsetx}},y:{{sub $tableTop 16}},h:20,w:{{$sm}}],{},"*wood")
{{$offsetx = add $offsetx (sub $sm 1)}}
#pan(%LBX[x:{{$offsetx}},y:{{sub $tableTop 19}},h:20,w:{{$sm}}],0)
#ctxt(%LBX[x:{{$offsetx}},y:{{sub $tableTop 16}},h:20,w:{{$sm}}],{},"*food")
{{$offsetx = add $offsetx (sub $sm 1)}}
#pan(%LBX[x:{{$offsetx}},y:{{sub $tableTop 19}},h:20,w:{{$sm}}],0)
#ctxt(%LBX[x:{{$offsetx}},y:{{sub $tableTop 16}},h:20,w:{{$sm}}],{},"*stone")
{{$offsetx = add $offsetx (sub $sm 1)}}
#pan(%LBX[x:{{$offsetx}},y:{{sub $tableTop 19}},h:20,w:{{$sm}}],0)
#ctxt(%LBX[x:{{$offsetx}},y:{{sub $tableTop 16}},h:20,w:{{$sm}}],{},"*gold")
{{$offsetx = add $offsetx (sub $sm 1)}}
#pan(%LBX[x:{{$offsetx}},y:{{sub $tableTop 19}},h:20,w:{{$sm}}],0)
#ctxt(%LBX[x:{{$offsetx}},y:{{sub $tableTop 16}},h:20,w:{{$sm}}],{},"*iron")
{{$offsetx = add $offsetx (sub $sm 1)}}
#pan(%LBX[x:{{$offsetx}},y:{{sub $tableTop 19}},h:20,w:{{$sm}}],0)
#ctxt(%LBX[x:{{$offsetx}},y:{{sub $tableTop 16}},h:20,w:{{$sm}}],{},"*coal")
{{$offsetx = add $offsetx (sub $sm 1)}}
{{- if $res}}
#pan(%LBX[x:{{$offsetx}},y:{{sub $tableTop 19}},h:20,w:{{$sm}}],0)
#ctxt(%LBX[x:{{$offsetx}},y:{{sub $tableTop 16}},h:20,w:{{$sm}}],{},"*res")
{{$offsetx = add $offsetx (sub $sm 1)}}
{{- end}}
{{else if eq $page "3"}}
#pan(%LBX[x:{{$offsetx}},y:{{sub $tableTop 19}},h:20,w:{{$sm}}],0)
#ctxt(%LBX[x:{{$offsetx}},y:{{sub $tableTop 16}},h:20,w:{{$sm}}],{},"+units")
{{$offsetx = add $offsetx (sub $sm 1)}}
#pan(%LBX[x:{{$offsetx}},y:{{sub $tableTop 19}},h:20,w:{{$sm}}],0)
#ctxt(%LBX[x:{{$offsetx}},y:{{sub $tableTop 16}},h:20,w:{{$sm}}],{},"+peasants")
{{$offsetx = add $offsetx (sub $sm 1)}}
#pan(%LBX[x:{{$offsetx}},y:{{sub $tableTop 19}},h:20,w:{{$sm}}],0)
#ctxt(%LBX[x:{{$offsetx}},y:{{sub $tableTop 16}},h:20,w:{{$sm}}],{},"+popul")
{{$offsetx = add $offsetx (sub $sm 1)}}
#pan(%LBX[x:{{$offsetx}},y:{{sub $tableTop 19}},h:20,w:{{$lg}}],0)
#ctxt(%LBX[x:{{$offsetx}},y:{{sub $tableTop 16}},h:20,w:{{$lg}}],{},"*units")
{{$offsetx = add $offsetx (sub $lg 1)}}
#pan(%LBX[x:{{$offsetx}},y:{{sub $tableTop 19}},h:20,w:{{$lg}}],0)
#ctxt(%LBX[x:{{$offsetx}},y:{{sub $tableTop 16}},h:20,w:{{$lg}}],{},"*peasants")
{{$offsetx = add $offsetx (sub $lg 1)}}
#pan(%LBX[x:{{$offsetx}},y:{{sub $tableTop 19}},h:20,w:{{$lg}}],0)
#ctxt(%LBX[x:{{$offsetx}},y:{{sub $tableTop 16}},h:20,w:{{$lg}}],{},"*popul")
{{$offsetx = add $offsetx (sub $lg 1)}}
#pan(%LBX[x:{{$offsetx}},y:{{sub $tableTop 19}},h:20,w:{{$lg}}],0)
#ctxt(%LBX[x:{{$offsetx}},y:{{sub $tableTop 16}},h:20,w:{{$lg}}],{},"*casuality")
{{$offsetx = add $offsetx (sub $lg 1)}}
{{end}}

{{$offsety := $tableTop}}
{{- range $i, $p := .StartedRoom.Players}}
{{$offsetx := $left}}
{{- if eq $page "1"}}
#pan(%LBX[x:{{$offsetx}},y:{{$offsety}},w:{{$sm}},h:{{$rowH}}],5)
#ctxt(%LBX[x:{{$offsetx}},y:{{add $offsety 3}},w:{{$sm}},h:{{$rowH}}],{},"{{if or (not $p.Zombie) (truthy $p.Stat.ChangeWood)}}{{$p.Stat.ChangeWood}}{{else}}-{{end}}")
{{$offsetx = add $offsetx (sub $sm 1)}}
#pan(%LBX[x:{{$offsetx}},y:{{$offsety}},w:{{$sm}},h:{{$rowH}}],5)
#ctxt(%LBX[x:{{$offsetx}},y:{{add $offsety 3}},w:{{$sm}},h:{{$rowH}}],{},"{{if or (not $p.Zombie) (truthy $p.Stat.ChangeFood)}}{{$p.Stat.ChangeFood}}{{else}}-{{end}}")
{{$offsetx = add $offsetx (sub $sm 1)}}
#pan(%LBX[x:{{$offsetx}},y:{{$offsety}},w:{{$sm}},h:{{$rowH}}],5)
#ctxt(%LBX[x:{{$offsetx}},y:{{add $offsety 3}},w:{{$sm}},h:{{$rowH}}],{},"{{if or (not $p.Zombie) (truthy $p.Stat.ChangeStone)}}{{$p.Stat.ChangeStone}}{{else}}-{{end}}")
{{$offsetx = add $offsetx (sub $sm 1)}}
#pan(%LBX[x:{{$offsetx}},y:{{$offsety}},w:{{$sm}},h:{{$rowH}}],5)
#ctxt(%LBX[x:{{$offsetx}},y:{{add $offsety 3}},w:{{$sm}},h:{{$rowH}}],{},"{{if or (not $p.Zombie) (truthy $p.Stat.ChangeGold)}}{{$p.Stat.ChangeGold}}{{else}}-{{end}}")
{{$offsetx = add $offsetx (sub $sm 1)}}
#pan(%LBX[x:{{$offsetx}},y:{{$offsety}},w:{{$sm}},h:{{$rowH}}],5)
#ctxt(%LBX[x:{{$offsetx}},y:{{add $offsety 3}},w:{{$sm}},h:{{$rowH}}],{},"{{if or (not $p.Zombie) (truthy $p.Stat.ChangeIron)}}{{$p.Stat.ChangeIron}}{{else}}-{{end}}")
{{$offsetx = add $offsetx (sub $sm 1)}}
#pan(%LBX[x:{{$offsetx}},y:{{$offsety}},w:{{$sm}},h:{{$rowH}}],5)
#ctxt(%LBX[x:{{$offsetx}},y:{{add $offsety 3}},w:{{$sm}},h:{{$rowH}}],{},"{{if or (not $p.Zombie) (truthy $p.Stat.ChangeCoal)}}{{$p.Stat.ChangeCoal}}{{else}}-{{end}}")
{{$offsetx = add $offsetx (sub $sm 1)}}
{{- if $res}}
#pan(%LBX[x:{{$offsetx}},y:{{$offsety}},w:{{$sm}},h:{{$rowH}}],5)
#ctxt(%LBX[x:{{$offsetx}},y:{{add $offsety 3}},w:{{$sm}},h:{{$rowH}}],{},"{{if or (not $p.Zombie) (truthy $p.Stat.ChangeCoal)}}{{$p.Stat.ChangeCoalRes}}{{else}}-{{end}}")
{{$offsetx = add $offsetx (sub $sm 1)}}
{{- end}}
#pan(%LBX[x:{{$offsetx}},y:{{$offsety}},w:{{$sm}},h:{{$rowH}}],5)
#ctxt(%LBX[x:{{$offsetx}},y:{{add $offsety 3}},w:{{$sm}},h:22],{},"{{if or (not $p.Zombie) (truthy $p.Stat.ChangePop2)}}{{$p.Stat.ChangePop2}}{{else}}-{{end}}")
{{$offsetx = add $offsetx (sub $sm 1)}}
#pan(%LBX[x:{{$offsetx}},y:{{$offsety}},w:{{$lg}},h:{{$rowH}}],5)
#ctxt(%LBX[x:{{$offsetx}},y:{{add $offsety 3}},w:{{$lg}},h:22],{},"{{if or (not $p.Zombie) (truthy $p.Stat.Casuality)}}{{$p.Stat.Casuality}}{{else}}-{{end}}")
{{$offsetx = add $offsetx (sub $lg 1)}}
{{- else if eq $page "2"}}
#pan(%LBX[x:{{$offsetx}},y:{{$offsety}},w:{{$sm}},h:{{$rowH}}],5)
#ctxt(%LBX[x:{{$offsetx}},y:{{add $offsety 3}},w:{{$sm}},h:{{$rowH}}],{},"{{if or (not $p.Zombie) (truthy $p.Stat.Wood)}}{{$p.Stat.Wood}}{{else}}-{{end}}")
{{$offsetx = add $offsetx (sub $sm 1)}}
#pan(%LBX[x:{{$offsetx}},y:{{$offsety}},w:{{$sm}},h:{{$rowH}}],5)
#ctxt(%LBX[x:{{$offsetx}},y:{{add $offsety 3}},w:{{$sm}},h:{{$rowH}}],{},"{{if or (not $p.Zombie) (truthy $p.Stat.Food)}}{{$p.Stat.Food}}{{else}}-{{end}}")
{{$offsetx = add $offsetx (sub $sm 1)}}
#pan(%LBX[x:{{$offsetx}},y:{{$offsety}},w:{{$sm}},h:{{$rowH}}],5)
#ctxt(%LBX[x:{{$offsetx}},y:{{add $offsety 3}},w:{{$sm}},h:{{$rowH}}],{},"{{if or (not $p.Zombie) (truthy $p.Stat.Stone)}}{{$p.Stat.Stone}}{{else}}-{{end}}")
{{$offsetx = add $offsetx (sub $sm 1)}}
#pan(%LBX[x:{{$offsetx}},y:{{$offsety}},w:{{$sm}},h:{{$rowH}}],5)
#ctxt(%LBX[x:{{$offsetx}},y:{{add $offsety 3}},w:{{$sm}},h:{{$rowH}}],{},"{{if or (not $p.Zombie) (truthy $p.Stat.Gold)}}{{$p.Stat.Gold}}{{else}}-{{end}}")
{{$offsetx = add $offsetx (sub $sm 1)}}
#pan(%LBX[x:{{$offsetx}},y:{{$offsety}},w:{{$sm}},h:{{$rowH}}],5)
#ctxt(%LBX[x:{{$offsetx}},y:{{add $offsety 3}},w:{{$sm}},h:{{$rowH}}],{},"{{if or (not $p.Zombie) (truthy $p.Stat.Iron)}}{{$p.Stat.Iron}}{{else}}-{{end}}")
{{$offsetx = add $offsetx (sub $sm 1)}}
#pan(%LBX[x:{{$offsetx}},y:{{$offsety}},w:{{$sm}},h:{{$rowH}}],5)
#ctxt(%LBX[x:{{$offsetx}},y:{{add $offsety 3}},w:{{$sm}},h:{{$rowH}}],{},"{{if or (not $p.Zombie) (truthy $p.Stat.Coal)}}{{$p.Stat.Coal}}{{else}}-{{end}}")
{{$offsetx = add $offsetx (sub $sm 1)}}
{{- if $res}}
#pan(%LBX[x:{{$offsetx}},y:{{$offsety}},w:{{$sm}},h:{{$rowH}}],5)
#ctxt(%LBX[x:{{$offsetx}},y:{{add $offsety 3}},w:{{$sm}},h:{{$rowH}}],{},"{{if or (not $p.Zombie) (truthy $p.Stat.Coal)}}{{$p.Stat.Coal}}{{else}}-{{end}}")
{{$offsetx = add $offsetx (sub $sm 1)}}
{{- end}}
{{- else if eq $page "3"}}
#pan(%LBX[x:{{$offsetx}},y:{{$offsety}},w:{{$sm}},h:{{$rowH}}],5)
#ctxt(%LBX[x:{{$offsetx}},y:{{add $offsety 3}},w:{{$sm}},h:{{$rowH}}],{},"{{if or (not $p.Zombie) (truthy $p.Stat.ChangeUnits)}}{{$p.Stat.ChangeUnits}}{{else}}-{{end}}")
{{$offsetx = add $offsetx (sub $sm 1)}}
#pan(%LBX[x:{{$offsetx}},y:{{$offsety}},w:{{$sm}},h:{{$rowH}}],5)
#ctxt(%LBX[x:{{$offsetx}},y:{{add $offsety 3}},w:{{$sm}},h:{{$rowH}}],{},"{{if or (not $p.Zombie) (truthy $p.Stat.ChangePeas)}}{{$p.Stat.ChangePeas}}{{else}}-{{end}}")
{{$offsetx = add $offsetx (sub $sm 1)}}
#pan(%LBX[x:{{$offsetx}},y:{{$offsety}},w:{{$sm}},h:{{$rowH}}],5)
#ctxt(%LBX[x:{{$offsetx}},y:{{add $offsety 3}},w:{{$sm}},h:{{$rowH}}],{},"{{if or (not $p.Zombie) (truthy $p.Stat.ChangePop2)}}{{$p.Stat.ChangePop2}}{{else}}-{{end}}")
{{$offsetx = add $offsetx (sub $sm 1)}}
#pan(%LBX[x:{{$offsetx}},y:{{$offsety}},w:{{$lg}},h:{{$rowH}}],5)
#ctxt(%LBX[x:{{$offsetx}},y:{{add $offsety 3}},w:{{$lg}},h:22],{},"{{if or (not $p.Zombie) (truthy $p.Stat.Units)}}{{$p.Stat.Units}}{{else}}-{{end}}")
{{$offsetx = add $offsetx (sub $lg 1)}}
#pan(%LBX[x:{{$offsetx}},y:{{$offsety}},w:{{$lg}},h:{{$rowH}}],5)
#ctxt(%LBX[x:{{$offsetx}},y:{{add $offsety 3}},w:{{$lg}},h:22],{},"{{if or (not $p.Zombie) (truthy $p.Stat.Peasants)}}{{$p.Stat.Peasants}}{{else}}-{{end}}")
{{$offsetx = add $offsetx (sub $lg 1)}}
#pan(%LBX[x:{{$offsetx}},y:{{$offsety}},w:{{$lg}},h:{{$rowH}}],5)
#ctxt(%LBX[x:{{$offsetx}},y:{{add $offsety 3}},w:{{$lg}},h:22],{},"{{if or (not $p.Zombie) (truthy $p.Stat.Population2)}}{{$p.Stat.Population2}}{{else}}-{{end}}")
{{$offsetx = add $offsetx (sub $lg 1)}}
#pan(%LBX[x:{{$offsetx}},y:{{$offsety}},w:{{$lg}},h:{{$rowH}}],5)
#ctxt(%LBX[x:{{$offsetx}},y:{{add $offsety 3}},w:{{$lg}},h:22],{},"{{if or (not $p.Zombie) (truthy $p.Stat.Casuality)}}{{$p.Stat.Casuality}}{{else}}-{{end}}")
{{$offsetx = add $offsetx (sub $lg 1)}}
{{- end}}
{{- if eq $i 0}}{{$offsety = add $offsety (sub $rowH 1)}}{{else}}{{$offsety = add $offsety $rowH}}{{end}}
{{- end}}

{{$offsety := 32}}
{{$offsetx := 613}}
#font(YF,YF,YF)
#apan(%LBX[x:{{$offsetx}},y:{{add $offsety 5}},w:40,h:22],{ {{- if ne $page "1" -}} GW|go&room_info_dgl&VE_RID={{.StartedRoom.ID}}&part=statcols&res=<%GV_LCN_INFR>&page=1 {{- end -}} },{{if eq $page "1"}}5{{else}}2{{end}})
#ctxt(%LBX[x:{{$offsetx}},y:{{add $offsety 8}},w:40,h:22],{},"1")
{{$offsetx = add $offsetx 42}}
#apan(%LBX[x:{{$offsetx}},y:{{add $offsety 5}},w:40,h:22],{ {{- if ne $page "2" -}} GW|go&room_info_dgl&VE_RID={{.StartedRoom.ID}}&part=statcols&res=<%GV_LCN_INFR>&page=2 {{- end -}} },{{if eq $page "2"}}5{{else}}2{{end}})
#ctxt(%LBX[x:{{$offsetx}},y:{{add $offsety 8}},w:40,h:22],{},"2")
{{$offsetx = add $offsetx 42}}
#apan(%LBX[x:{{$offsetx}},y:{{add $offsety 5}},w:40,h:22],{ {{- if ne $page "3" -}} GW|go&room_info_dgl&VE_RID={{.StartedRoom.ID}}&part=statcols&res=<%GV_LCN_INFR>&page=3 {{- end -}} },{{if eq $page "3"}}5{{else}}2{{end}})
#ctxt(%LBX[x:{{$offsetx}},y:{{add $offsety 8}},w:40,h:22],{},"3")
<INFOTBL>
{{end}}
